.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #31373d;
}

.airplane {
    width: 60px;
    height: 60px;
    background-image: url('../../../public/avion-de-papel.png');
    background-size: cover;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}